
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<h1>WELCOME TO MY WEB PAGE</h1>
<p>
    <b>Name:</b> Ramya Talagavadi Kalegowda
    <br />
    <b>Phone Number:</b> 0007868868
    <br />
    <b>Place:</b>Göteborg
</p>
