@{
    ViewData["Title"] = "GuessingGame";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="Guessing_Game" metod="post">
    <label>Guessing_Game</label>

    <input type="number" name="myGuess" min="1" max="100">
    <br/>
    <br/>
    <input type="submit" value="Submit" />
</form>

@{
    var data = ViewData["Message"];
}

<p>
    @if (data != null)
    {@ViewData["Message"]}
</p>
