
@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>



<p>Github links to my Assignments</p> <br />


<p>Hangman: <a href="https://github.com/Ramya-cloud-hub/HangManGame">Hangman game Assignment</a> </p>
<p>Todo IT: <a href="https://github.com/Ramya-cloud-hub/ToDoIt">Link To My Todo IT Assignment</a> </p>
<p>Calculator: <a href="https://github.com/Ramya-cloud-hub/ConsoleApp2">Link To My Simple Calculator Assignment</a> </p>
<p>A HTML: <a href="https://github.com/Ramya-cloud-hub/HtmlL">Link To My Basic html Assignment</a> </p>





